<?xml version="1.0"?>
<model>
  <name>Spawn</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Sara</name>
   <email>sara.ferrari@studenti.unitn.it</email>
  </author>

  <description>
    It is a reference model for the levelManager to know where to spawn lego bricks
  </description>
</model>
