<?xml version="1.0" ?>
<launch>
 
        <!-- send hyq urdf to param server -->
        <param name="X1-Y1-Z2_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X1-Y1-Z2.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X1-Y2-Z1_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X1-Y2-Z1.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X1-Y2-Z2_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X1-Y2-Z2.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X1-Y2-Z2-CHAMFER_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X1-Y2-Z2-CHAMFER.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X1-Y2-Z2-TWINFILLET_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X1-Y2-Z2-TWINFILLET.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X1-Y3-Z2_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X1-Y3-Z2.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X1-Y3-Z2-FILLET_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X1-Y3-Z2-FILLET.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X1-Y4-Z1_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X1-Y4-Z1.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X1-Y4-Z2_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X1-Y4-Z2.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X2-Y2-Z2_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X2-Y2-Z2.xacro'"/>
        <!-- send hyq urdf to param server -->
        <param name="X2-Y2-Z2-FILLET_description" command="$(find xacro)/xacro --inorder '$(find brick_description)/urdf/X2-Y2-Z2-FILLET.xacro'"/> 


</launch>

