<?xml version="1.0" encoding="utf-8"?>
<robot name="brick1" xmlns:xacro="http://ros.org/wiki/xacro">

<material name="Black">
<color rgba="${0/255} ${0/255} ${0/255} 1.0"/>
</material>

<link name="X1-Y2-Z2-TWINFILLET">
        <inertial>
	    <mass value="0.1"/>
	    <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
        </inertial>
    
	<visual > <!-- dont put name otherwise gazebo discards color-->
		<origin xyz="0  0  0" rpy="0  0  0"/>
		<geometry>
		  <mesh filename="package://meshes/X1-Y2-Z2-TWINFILLET.stl" scale="1 1 1"/>
		</geometry>
		<material name="Black"/><!--rviz"/-->
	
	</visual>
	<collision>
	        <origin xyz="0  0  0" rpy="0  0  0"/>
		<geometry>
		  <mesh filename="package://meshes/X1-Y2-Z2-TWINFILLET.stl" scale="1 1 1"/>
		</geometry>
		<material name="Black"/><!--rviz"/-->
	</collision>

</link>


<gazebo>
    <static>false</static>
</gazebo>

</robot>
